body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: #dcfede;
}

.homepage{
   border-left: #000000 10px solid;

    color: #eaffeb;
    background-color: green;
    text-align: center;
    margin-bottom: 100px;
}

    nav {
        text-align: center;
        margin-top: 50px;
        font-family: 'Times New Roman', Times, serif;
    }
    nav a {
        color: #ffffff;
        text-decoration: none;
        padding: 0px 50px 10px 0;
        font-size: 25pt;
        position: relative;
    }

.arvore{
    text-align: center;
}